<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<div>
    <h1>Customer</h1>
    <h2><a href="/">Home</a></h2>
</div>

<div th:if="${customer}">
    <h2>Add Customer</h2>
    <!--/*@thymesVar customerid="customer" type="db.project.wholesalemanage.Model.Customer"*/-->
    <form action="#" th:action="@{/customer/add}" method="post" th:object="${customer}">
        <p><label>Name: </label><input type="text" th:field="*{name}"></p>
        <p><label>Address:</label><input type="text" th:field="*{address}"></p>
        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <h2>View All Customers</h2>
    <a href="/customer/all">view</a>
</div>
<div th:if="${customers}">
    <table>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.address}"></td>
        </tr>
    </table>
</div>

<div>
    <h2>Search Customer</h2>
    <form action="" th:action="@{/customer/find}">
        <label>Customer name: <input type="text" name="customername" customerid="customername"></label>
        <input type="submit" value="Submit">
    </form>
</div>

<div th:if="${customerinfo}">
    <form action="" th:action="@{/customer/edit}" th:method="get">
        <h3>Customer info</h3>
        <p th:text="${customerinfo.name}"></p>
        <p th:text="${customerinfo.address}"></p>
        <input type="text" name="customername" hidden="true" th:value="${customerinfo.name}">
        <input type="text" name="customeraddress" hidden="true" th:value="${customerinfo.address}">
        <br>
        <input th:if="${customerinfo}" type="submit" value="Edit">
    </form>
    <br>
    <p>View all customer Transactions <a th:href="@{|/transaction/income/customer/${customerinfo.name}|}"> view</a></p>
</div>

<div th:if="${customerTrans}">
    <h3>All customer transactions:</h3>
    <table>
        <thead>
            <th>Customer Name</th>
            <th>Stock name</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Date</th>
        </thead>
        <tr th:each="income: ${customerTrans}">
            <td th:text="${income.customer.name}"></td>
            <td th:text="${income.stock.name}"></td>
            <td th:text="${income.type}"></td>
            <td th:text="${income.amount}"></td>
            <td th:text="${income.quantity}"></td>
            <td th:text="${income.date}"></td>
        </tr>
    </table>
</div>

<div th:if="${editcustomer}">
    <h2>Edit Customer Details</h2>
    <form action="" th:if="${editcustomer}" th:action="@{/customer/update}" th:object="${editcustomer}" th:method="post">
        <input type="number" hidden th:value="${editcustomer.customerid}" th:field="*{customerid}">
        <p><label>Name: </label><input type="text" th:field="*{name}" th:value="${editcustomer.name}"></p>
        <p><label>Address:</label><input type="text" th:field="*{address}" th:value="${editcustomer.address}"></p>
        <input type="submit" value="Submit">
    </form>
</div>


</body>
</html>