<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Welcome to the Wholesale Management System</h1>
    </div>
    
    <div>
        <!--/*@thymesVar id="stock" type="db.project.wholesalemanage.Model.Stock"*/-->
        <form action="#" th:action="@{/stock/add}" method="post" th:object="${stock}">
            <p><label>Name: </label><input type="text" th:field="*{name}"></p>
            <p><label>Quantity:</label><input type="number" th:field="*{quantinty}"></p>
            <p><label>Cost Price:</label> <input type="number" th:field="*{costPrice}" ></p>
            <p><label>Selling Price:</label> <input type="number" th:field="*{sellingPrice}"></p>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>