<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div>
    <h1>Welcome to the Wholesale Management System</h1>
</div>

<div>
    <p>Go to Stocks <a href="/stock">here</a></p>
</div>
<div>
    <p>Go to Suppliers <a href="/supplier">here</a></p>
</div>
<div>
    <p>Go to Customers <a href="/customer">here</a></p>
</div>
<div>
    <p>Go to Transactions <a href="/transaction">here</a></p>
</div>

</body>
</html>