<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
</head>
<body>
<div>
    <h1>Stocks</h1>
    <h2><a href="/">Home</a></h2>
</div>
<br>
<!--Adding Stock form-->
<h2 >Add Stock <a th:if="!${stock}" href="/stock"> here </a></h2>
<div  th:if="${stock}">
    <!--/*@thymesVar customerid="stock" type="db.project.wholesalemanage.Model.Stock"*/-->
    <form action="#" th:action="@{/stock/add}" method="post" th:object="${stock}">
        <p><label>Name: </label><input type="text" th:field="*{name}"></p>
        <p><label>Quantity:</label><input type="number" th:field="*{quantity}"></p>
        <p><label>Cost Price:</label> <input type="number" th:field="*{costPrice}" ></p>
        <p><label>Selling Price:</label> <input type="number" th:field="*{sellingPrice}"></p>
        <input type="submit" value="Submit">
    </form>
</div>


<br>
<div th:if="!${stocks}">
    <h2>View All Stocks</h2>
    <p><a href="/stock/all">View</a></p>
</div>
<!--All Stocks-->
<div th:if="${stocks}">
    <h2>Show Stocks</h2>
    <br>
    <table>
        <thead>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Cost Price</th>
            <th>Selling Price</th>
        </thead>
        <th:block th:each="stock: ${stocks}">
            <tr >
                <!--/*@thymesVar customerid="stock" type="db.project.wholesalemanage.Model.Stock"*/-->
                <td th:text="${stock.name}"></td>
                <td th:text="${stock.quantity}"></td>
                <td th:text="${stock.costPrice}"></td>
                <td th:text="${stock.sellingPrice}"></td>
            </tr>
        </th:block>
    </table>
</div>

<div>
    <h2>Search Stock</h2>
    <form customerid="searchStock" action="" th:action="@{/stock/find}" >
        <label>Stock Name: <input type="text"name="stock" ></label>
        <input type="submit" value="Submit">
    </form>
</div>
<!--Stock Info-->
<div th:if="${stockinfo}">
    <h3>Stock info</h3>
    <p th:text="${stockinfo.name}"></p>
    <p th:text="${stockinfo.quantity}"></p>
    <p th:text="${stockinfo.costPrice}"></p>
    <p th:text="${stockinfo.sellingPrice}"></p>
    <br>
    <p>View all stock transactions <a th:href="@{|/transaction/stock/${stockinfo.name}|}">view</a> </p>
</div>


<div th:if="${stockExpense} and ${stockIncome}">
    <h3>Stock Sales</h3>
    <div>
        <table >
            <thead >
            <th>Id</th>
            <th>Type</th>
            <th>Stock Name</th>
            <th>Customer Name</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Date</th>
            </thead>
            <th:block th:each="trans:${stockIncome}">
                <tr>
                    <td th:text="${trans.incomeid}"></td>
                    <td th:text="${trans.type}"></td>
                    <td th:text="${trans.stock.name}"></td>
                    <td th:text="${trans.customer.name}"></td>
                    <td th:text="${trans.amount}"></td>
                    <td th:text="${trans.quantity}"></td>
                    <td th:text="${trans.date}"></td>
                </tr>
            </th:block>
        </table>
    <br>
    </div>

    <div>
        <h3>Stock re-stocking</h3>
        <table >
            <thead >
            <th>Id</th>
            <th>Stock Name</th>
            <th>Supplier Name</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Date</th>
            </thead>
            <th:block th:each="expTrans:${stockExpense}">
                <tr>
                    <td th:text="${expTrans.expenseId}"></td>
                    <td th:text="${expTrans.stock.name}"></td>
                    <td th:text="${expTrans.supplier.name}"></td>
                    <td th:text="${expTrans.amount}"></td>
                    <td th:text="${expTrans.quantity}"></td>
                    <td th:text="${expTrans.date}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

<br>
<div>
    <h3>Get Emergency Stock</h3>
    <form customerid="emergencyQuery"action="" th:action="@{/stock/emergency/}" method="get" >
        <p>Stock quantitiy under:</p>
        <input type="number" name="quantity">
        <input type="submit" value="Submit">
    </form>
</div>

<!--Emergency Stock-->
<div th:if="${emergencystocks}">
    <h2>Emergency Stocks</h2>
    <table>
        <th>Stock name</th>
        <th>Quantity</th>
        <th>Cost Price</th>
        <th>Selling Price</th>
        <th:block th:each="stock: ${emergencystocks}">
            <tr >
                <!--/*@thymesVar customerid="stock" type="db.project.wholesalemanage.Model.Stock"*/-->
                <td th:text="${stock.name}"></td>
                <td th:text="${stock.quantity}"></td>
                <td th:text="${stock.costPrice}"></td>
                <td th:text="${stock.sellingPrice}"></td>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>