<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emergency Stocks</title>
</head>
<body>
<div>
    <h1>Emergency Stocks</h1>
</div>

<div>
    <table>
        <th:block th:each="stock: ${stocks}">
            <tr >
                <!--/*@thymesVar id="stock" type="db.project.wholesalemanage.Model.Stock"*/-->
                <td th:text="${stock.name}"></td>
                <td th:text="${stock.quantinty}"></td>
                <td th:text="${stock.costPrice}"></td>
                <td th:text="${stock.sellingPrice}"></td>
            </tr>
        </th:block>
    </table>
</div>

</body>
</html>