<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supplier</title>
</head>
<body>
<div>
    <h1>Supplier</h1>
    <h2><a href="/">Home</a></h2>
    <div th:if="!${supplier}">
        <p>Add supplier <a href="/supplier/add">here</a></p>
    </div>
</div>

<!--Todo: Stock and Supplier using two inputs-->
<div th:if="${supplier}">
    <h2>Add supplier</h2>
    <form action="#" th:action="@{/supplier/add}" method="post" >
        <!--/*@thymesVar id="supplier" type="db.project.wholesalemanage.Model.Supplier"*/-->
        <div th:object="${supplier}">
            <label>Name: <input type="text" id="suppliername" name="suppliername" th:field="*{name}"></label>
            <label>Address: <input type="text" name="supplieraddress" th:field="*{address}"></label>
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <h2>Search Supplier</h2>
    <form id="supplierquery" action="" th:action="@{/supplier/suppliername}">
        <label >Suppliername</label>
        <input type="text">
        <br>
        <input type="submit" value="Submit" name="suppliername">
    </form>
    <script !src="">
        <!--        Function used to append the emergency quantity to the uri -->
        function yourFunction(){
            var action_src = "/supplier/" + document.getElementsByName("suppliername")[0].value;
            var your_form = document.getElementById('supplierquery');
            your_form.action = action_src ;
        }
    </script>
</div>

<div th:if="${suppliers}">
    <h2>Suppliers</h2>
    <table>
        <tr th:each="supplier: ${suppliers}">
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.address}"></td>
        </tr>
    </table>
</div>

</body>
</html>