<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
<div>
    <h1>Transactions</h1>
    <h2><a href="/">Home</a></h2>
</div>
<!--@Todo
    Remove the need to input amount for quantity of sale
    and amount for quantity of purchase.
-->
<div>
    <h1>Income</h1>
    <div th:if="!${income}">
        <p>Add Income <a href="/transaction/income/add">here</a></p>
    </div>
    <div th:if="${param.incomeadded}">
        <p>Income Added</p>
    </div>
    <div th:if="${param.incomeerror}">
        <p>Income Error</p>
    </div>

    <div th:if="${income}">
        <form action="" th:action="@{/transaction/income/add}" method="post"  th:object="${income}">
            <label>Type: <select name="typeofIncome" th:field="*{type}">
                <!--/*@thymesVar customerid="Type" type="db.project.wholesalemanage.Model.Type"*/-->
                <option th:each="type: ${T(db.project.wholesalemanage.Model.Type).values()}" th:value="${type}" th:text="${type}"></option>
            </select></label>

            <label>Stock: <input type="text" th:field="*{stockname}"></label>
            <label>Customer: <input type="text" th:field="*{customername}"></label>
            <label>Quantity: <input type="number" th:field="*{quantity}"></label>
            <br>
            <input type="submit" value="submit">
        </form>
    </div>

    <div>
        <div>
            <h2>Show pending</h2>
            <a href="/transaction/pending">view</a>
        </div>
        <div th:if="${pendingtrans}">
            <table>
                <thead >
                    <th>Id</th>
                    <th>Type</th>
                    <th>Stock name</th>
                    <th>Customer name</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                    <th>Date</th>
                </thead>
                <th:block th:each="trans:${pendingtrans}">
                    <tr>
                        <td th:text="${trans.incomeid}"></td>
                        <td th:text="${trans.type}"></td>
                        <td th:text="${trans.stockname}"></td>
                        <td th:text="${trans.customername}"></td>
                        <td th:text="${trans.amount}"></td>
                        <td th:text="${trans.quantity}"></td>
                        <td th:text="${trans.date}"></td>
                    </tr>
                </th:block>
            </table>
        </div>

        <br>
        <div>
            <h2>Show Paid</h2>
            <a href="/transaction/paid">view</a>
        </div>
        <div th:if="${paidtrans}">
            <table >
                <thead >
                    <th>Id</th>
                    <th>Type</th>
                    <th>Stock name</th>
                    <th>Customer name</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                    <th>Date</th>
                </thead>
                <th:block th:each="trans:${paidtrans}">
                    <tr>
                        <td th:text="${trans.incomeid}"></td>
                        <td th:text="${trans.type}"></td>
                        <td th:text="${trans.stockname}"></td>
                        <td th:text="${trans.customername}"></td>
                        <td th:text="${trans.amount}"></td>
                        <td th:text="${trans.quantity}"></td>
                        <td th:text="${trans.date}"></td>
                    </tr>
                </th:block>

            </table>
        </div>

    </div>


</div>

<div>
    <h1>Expense</h1>
    <div th:if="!${expense}">
        <p>Add Expense <a href="/transaction/expense/add">here</a></p>
    </div>
    <div th:if="${param.expenseadd}">
        <p>ExpenseAdded</p>
    </div>
    <div th:if="${param.expenseerror}">
        <p>Error in expense info</p>
    </div>
    <div th:if="${expense}">
        <form action="" th:action="@{/transaction/expense/add}" method="post"  th:object="${expense}">
            <label>Stock: <input type="text" th:field="*{stockname}"></label>
            <label>Supplier: <input type="text" th:field="*{suppliername}"></label>
            <label>Quantity: <input type="number" th:field="*{quantity}"></label>
            <br>
            <input type="submit" value="submit">
        </form>
    </div>
</div>


</body>
</html>